@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Sen:wght@400;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family:sen;
}
body{
    background-color: #000;
}
header{
    height:80px;
    width:100%;
    padding:0 50px;
    z-index: 2;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:0;
}

.sidebar{
    height:100%;
    width:0;
    position:fixed;
    top:0;
    left:0;
    z-index: 999;
    background:rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition:0.5s;
    padding-top: 50px;
}
.sidebar a{
    padding:8px 8px 8px 30px;
    display:block;
    text-decoration:none;
    font-size:25px;
    color:#818181;
    transition:0.3s;
}
.sidebar a:hover{
    color:#fff;
}
.sidebar .closebtn{
    position:absolute;
    top:0;
    right:25px;
    font-size:35px;
}
.openbtn{
    font-size:15px;
    color:#fff;
    cursor:pointer;
    position:fixed;
    right:50px;
    z-index: 1;
}
.logo{
    color:#fff;
    text-decoration: none;
    font-size:20px;
    font-weight:bold;
}
#home{
    height:100vh;
    position: relative;
    width:100%;
}
#home::before{
    content:'';
    width:100%;
    height:400px;
    position:absolute;
    bottom:0;
    left:0;
    z-index:1;
    background:linear-gradient(to top,#000,transparent);
}
.frstBg{
    position: relative;
    top:0;
    background-size:cover;
    object-fit: cover;
    width:100%;
    height:100%;
    opacity:0.8;
}
.hero{
    margin:0 auto;
    position: absolute;
    top:35%;
    width:100%;
    flex-direction: column;
    text-align: center;
    z-index: 1;
}
.hero h1{
    font-size:70px;
    color:#f1f1f1;
    font-weight:bold;
    padding-bottom: 10px;
}
.hero p{
    color:#f1f1f1;
    font-size:17px;
    line-height: 24px;
    width:60%;
    margin:0 auto;
}
.hero .social-icons i{
    color:#f1f1f1;
    font-size:20px;
    padding:20px 10px;
}
.hero .social-icons i:hover{
    opacity:0.5;
}

#about{
    width:100%;
    position:relative;
    color:#f1f1f1;
    text-align: center;
    padding:50px 100px 150px;
}
#about h1{
    font-size:50px;
    padding-bottom: 20px;
}
#about .destinationList{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:20px;
}
.destinationList .box{
    position: relative;
    min-width:300px;
    height:380px;
    background:#191919;
    transition:1s;
    margin:50px 20px;
    opacity: 0.5;
    cursor: pointer;
    
}
.destinationList .imgbox{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.imgbox img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    object-fit: cover;
}
.destinationList .content{
    background:#0e0e0e;
    padding:10px 0;
}
.destinationList .content span{
    font-size:17px;
    font-weight:normal

}
.destinationList .box:hover{
    opacity: 1;
}
#about .lm-btn{
    position: relative;
    top:70px;
    padding:10px 25px;
    background:#f1f1f1;
    text-decoration: none;
    color:#000;
    transition: 0.5s;
}
#about .lm-btn:hover{
    opacity: 0.5;
}


#banner1{
    width:100%;
    height:110vh;
    position: relative;
}
#banner1::before{
    content:'';
    width:100%;
    height:400px;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    background:linear-gradient(to bottom,#000,transparent);
}
#banner1::after{
    content:'';
    width:100%;
    height:400px;
    position:absolute;
    bottom:0;
    left:0;
    z-index:1;
    background:linear-gradient(to top,#000,transparent);
}
#banner1 img{
    position: absolute;
    top:0;
    left:0;
    background-size: cover;
    object-fit: cover;
    width:100%;
    height:100%;
}








@media (max-width:600px){
    header, .hero, #about{
        padding:0 20px;
    }
    .openbtn{
        right:20px;
    }
    .hero h1, #about h1{
        font-size:35px;
    }
    .hero p, #about p{
        font-size:15px;
        line-height: 18px;
        width:100%;
    }

}